# What is the trend and factors influencing the enrolment in undergraduate programs at LSE?

## Data Acquisition

### data from LSE course calendar for each course over the years -each year is a diff df

In [267]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

def get_course_numbers(url, year):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    content = soup.find("div", attrs={"class": "right-container"})
    links = content.find_all("a", href=True)
    course_list = []
    for link in links:
        text = link.text.strip()
        if len(text) > 2:
            course_list.append(text[0:6].strip())

    service = Service("chromedriver.exe")
    driver = webdriver.Chrome(service=service)

    course_enrolment = {}

    for course in course_list:
        course_url = f"https://www.lse.ac.uk/resources/calendar{year}-{year+1}/courseGuides/{course[0:2]}/{year}_{course}.htm"
        driver.get(course_url)
        try:
            total_students = WebDriverWait(driver, 0.15).until(
                EC.presence_of_element_located((By.XPATH, "//div[@id='keyFacts-Content']/p[2]"))
            ).text
            department = course[0:2]
            course_enrolment[course] = (total_students.split(":")[-1].strip(), department)
            
        except:
            #print(f"cant find {course} in {year}")
            pass

    driver.quit()
    df = pd.DataFrame.from_dict(course_enrolment, orient="index", columns=["Enrolment", "Department"])
    return df
course_numbers_2024_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2024-2025/courseGuides/undergraduate.htm", 2024)
course_numbers_2023_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2023-2024/courseGuides/undergraduate.htm", 2023)
course_numbers_2022_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2022-2023/courseGuides/undergraduate.htm", 2022)
course_numbers_2021_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2021-2022/courseGuides/undergraduate.htm", 2021)
course_numbers_2020_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2020-2021/courseGuides/undergraduate.htm", 2020)
course_numbers_2019_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2019-2020/courseGuides/undergraduate.htm", 2019)
course_numbers_2018_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2018-2019/courseGuides/undergraduate.htm", 2018)
course_numbers_2017_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2017-2018/courseGuides/undergraduate.htm", 2017)
course_numbers_2016_df = get_course_numbers("https://www.lse.ac.uk/resources/calendar2016-2017/courseGuides/undergraduate.htm", 2016)

In [270]:
#storing here as csv so u dont need to run code
course_numbers_2024_df.to_csv('data/course_numbers_2024.csv')
course_numbers_2023_df.to_csv('data/course_numbers_2023.csv')
course_numbers_2022_df.to_csv('data/course_numbers_2022.csv')
course_numbers_2021_df.to_csv('data/course_numbers_2021.csv')
course_numbers_2020_df.to_csv('data/course_numbers_2020.csv')
course_numbers_2019_df.to_csv('data/course_numbers_2019.csv')
course_numbers_2018_df.to_csv('data/course_numbers_2018.csv')
course_numbers_2017_df.to_csv('data/course_numbers_2017.csv')
course_numbers_2016_df.to_csv('data/course_numbers_2016.csv')

 ### for data cleaning, there are a lot of courses which have missing years. so maybe use only the courses where 4 or more recorded students numbers are present and use it like that

In [252]:
course_numbers_2024_df.head(2)

      Enrolment Department
AC102       564         AC
AC103       256         AC

# data from Tableu, containing number of students per year (all in one dict) - use for dropout rates. theres no department data for this. so for data cleaning i think u have to group each one into a department manually. basically we need this data but for department too but it doesnt exist

In [92]:
import tabula # you need to first install it
import pandas as pd
import warnings
warnings.simplefilter('ignore')
student_data_dict = {}
for year in [2016,2018,2019,2020,2021,2022,2023]:
    dfs_in_list = tabula.read_pdf(f"data/student_data_{year}.pdf", pages='all',stream = True,multiple_tables=True)
    df = pd.concat(dfs_in_list, ignore_index=True)
    student_data_dict[year] = df

In [100]:
student_data_dict[2019]

                     BA in Anthropology and Law    1st Year  16
0                                           NaN    2nd Year  15
1                                           NaN  Final Year  17
2                                           NaN       Total  48
3    BSc in Business Mathematics and Statistics    2nd Year   4
4                                           NaN  Final Year  21
..                                          ...         ...  ..
144        BSc in Social Policy with Government    1st Year   1
145                                         NaN    2nd Year   4
146                                         NaN  Final Year   2
147                                         NaN       Total   7
148                            BSc in Sociology    1st Year  37

[149 rows x 3 columns]

In [ ]:
## here i think its best to use SQL to take each df (stored as values) and then maybe make different tables and then combine them using sql

## data from HEFA - clean data already. shows how many staff members in all unis

In [ ]:
staff_data_dict = {}
for year in [2016,2017,2018,2019,2020,2021,2022,2023]:
    df = pd.read_csv(f"data/staff_data_{year}.csv", skiprows=14)
    staff_data_dict[year] = df

In [43]:
#staff_data_dict[2018]

,UKPRN,HE Provider,"Managers, directors and senior officials",Professional occupations,Associate professional occupations,Clerical and manual occupations,Total academic staff
0,10007783.0,The University of Aberdeen,0,"1,425",5,0,"1,430"
1,10007849.0,Abertay University,0,210,5,0,215
2,10007856.0,Aberystwyth University,0,745,5,0,750
3,10000163.0,AECC University College,0,55,0,0,55
4,10000291.0,Anglia Ruskin University,10,870,20,0,900
...,...,...,...,...,...,...,...
162,10007833.0,Wrexham University,0,205,0,0,205
163,10007657.0,Writtle University College,0,100,0,0,105
164,10007713.0,York St John University,10,355,15,0,380
165,10007167.0,The University of York,0,"1,935",0,0,"1,935"
166,NaN,Total,540,"215,065","1,460",5,"217,065"

In [ ]:
# extract lse from each df using sql and then make bar graph showing the trend or line plot

## data for each department offer rates

In [7]:

department_data_list_1 = tabula.read_pdf(f"data/department_offer_rates_16_to_19.pdf", pages='all',stream=True)
department_data_list_2 = tabula.read_pdf(f"data/department_offer_rates_20_to_23.pdf", pages='all',stream=True)
department_data_df_1 = department_data_list_1[0]
department_data_df_2 = department_data_list_2[0]
department_data_df_1.columns = [
    "Department", "Programme", 
    "2016_Apps", "2016_Offers", "2016_Entrants",
    "2017_Apps", "2017_Offers", "2017_Entrants",
    "2018_Apps", "2018_Offers", "2018_Entrants",
    "2019_Apps", "2019_Offers", "2019_Entrants"
]
department_data_df_2.columns = [
    "Department", "Programme", 
    "2020_Apps", "2020_Offers", "2020_Entrants",
    "2021_Apps", "2021_Offers", "2021_Entrants",
    "2022_Apps", "2022_Offers", "2022_Entrants",
    "2023_Apps", "2023_Offers", "2023_Entrants"
]


department_data_df = pd.merge(
    department_data_df_1,
    department_data_df_2,
    on=["Department", "Programme"],
    how="outer"
)
department_data_df = department_data_df.drop(index=2)
# Step 4: Preview result
department_data_df

,Department,Programme,2016_Apps,2016_Offers,2016_Entrants,2017_Apps,2017_Offers,2017_Entrants,2018_Apps,2018_Offers,...,2020_Entrants,2021_Apps,2021_Offers,2021_Entrants,2022_Apps,2022_Offers,2022_Entrants,2023_Apps,2023_Offers,2023_Entrants
0,Accounting UG Degree,NaN,"1,542",227,124,"1,540",253,135,"1,737",277,...,143,"1,881",176,115,"1,962",261,112,"1,929",265,115
1,Anthropology UG Degree,NaN,461,186,69,488,178,56,631,208,...,66,608,165,60,673,232,73,672,208,68
3,Economic History UG Degree,NaN,598,116,62,572,121,70,668,124,...,90,"1,015",104,71,981,130,71,918,130,69
4,Economics UG Degree,NaN,"2,731",489,220,"2,825",504,228,"2,895",543,...,265,"4,373",335,202,"4,213",437,261,"3,888",372,178
5,Finance UG Degree,NaN,576,87,34,572,79,37,599,125,...,68,882,91,53,"1,133",151,74,"1,058",123,65
6,Geography and Environment UG Degree,NaN,681,227,85,697,231,74,658,298,...,103,960,201,81,"1,083",242,92,"1,228",243,92
7,Government UG Degree,NaN,"1,832",377,158,"1,890",363,147,"2,194",415,...,184,"2,913",313,153,"2,660",417,183,"2,541",401,161
8,International History UG Degree,NaN,807,262,77,790,296,86,773,337,...,98,735,218,69,"1,235",400,131,"1,269",389,123
9,International Relations UG Degree,NaN,942,154,62,"1,014",164,64,910,163,...,87,849,100,44,778,158,77,767,141,43
10,Language Centre UG Degree,NaN,0,0,0,0,0,0,0,0,...,29,314,88,34,314,105,31,307,109,30
11,Law School UG Degree,NaN,"2,734",485,178,"2,753",465,160,"2,882",487,...,193,"2,667",381,171,"2,664",462,188,"2,653",408,160
12,Management UG Degree,NaN,"1,424",337,115,"1,406",363,149,"1,581",377,...,196,"2,303",226,144,"2,243",329,173,"1,994",306,157
13,Mathematics UG Degree,NaN,824,214,101,"1,231",298,148,"1,293",306,...,157,"1,400",241,161,"1,467",264,137,"1,806",281,138
14,"Philosophy, Logic and Scie.. UG Degree",NaN,"1,115",238,83,"1,190",259,90,"1,422",263,...,108,"1,531",207,90,"1,410",274,121,"1,520",237,84
15,Psychological and Behavio.. UG Degree,NaN,0,0,0,0,0,0,0,0,...,34,670,112,40,788,161,48,762,189,54
16,Social Policy UG Degree,NaN,378,98,34,439,119,39,632,122,...,79,908,101,46,948,159,75,977,137,57
17,Sociology UG Degree,NaN,291,122,34,287,132,48,275,144,...,58,525,112,53,567,123,49,597,98,37
18,Statistics UG Degree,NaN,926,249,118,694,222,88,841,242,...,125,"1,507",249,153,"1,623",289,152,"1,560",287,142

In [180]:
#department_data_df.columns

Index(['Department', 'Programme', '2016_Apps', '2016_Offers', '2016_Entrants',
       '2017_Apps', '2017_Offers', '2017_Entrants', '2018_Apps', '2018_Offers',
       '2018_Entrants', '2019_Apps', '2019_Offers', '2019_Entrants',
       '2020_Apps', '2020_Offers', '2020_Entrants', '2021_Apps', '2021_Offers',
       '2021_Entrants', '2022_Apps', '2022_Offers', '2022_Entrants',
       '2023_Apps', '2023_Offers', '2023_Entrants'],
      dtype='object')

### farhaan needs to add api data from lse as well as word counts for the each word. do this for 2016,2019,2022 to see change over the years. Then we also do word counts for three other departments, maybe "lse stats", "lse economics" "lse law" to see if these departments all have the same trend or not

## complete data cleaning -dylan

# varuns part

visualise data for ALL lse students over the years and see if there is an increase or decrease, then we can answer subquestions

 - To answer if "Are certain departments experiencing a change in student enrolment?" use cleaned data and visualise. maybe 2-3 plots. going to have to group programmes into departments, this is a bit long. but maybe theres another way of doing it idk
 - Then visualise the data that tells you how many people in each programme to explain the graph above. maybe stats had a big increase and maybe thats because ds became more popular in a certain year. maybe we can also explore why there was spiek using reddit api and wordcloud
 -

"Is there a change in the number of applicants and offer rates from LSE"
- to answer this just visualise the data provided and see if offer rates have increased or maybe places

word cloud plus analysis displayed here for the chosen departments

- visualise staff data and compare to the total places offered each year and also look at drop out rates. drop out rates increasing in one year might mean more applicants offered a place in that department that year